
<h2>Here some records images</h2>
<div class="row">
  <div class="column">
    <img src="/images/let-it-bleed.jpeg" alt="discography" />
  </div>
  <div class="column">
    <img src="/images/steel-wheels.jpeg" alt="discography" />
  </div>
  <div class="column">
    <img src="/images/it-s-only-rock-n-roll.jpeg" alt="discography" />
  </div>
</div>